<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Рецепты</title>
</head>
<body>
    <h1>Выберите блюдо</h1>
    {% for title, url in pages.items %}
        <a href="{{ url }}">{{ title }}</a>
        <br>
    {% endfor %}
<!--<p style="color: purple; font-size: 30px">-->
<!--    http://127.0.0.1:8000/omlet/-->
<!--</p>-->
<!--<p style="color: blue; font-size: 30px">-->
<!--    http://127.0.0.1:8000/pasta/-->
<!--</p>-->
<!--<p style="color: red; font-size: 30px">-->
<!--    http://127.0.0.1:8000/buter/-->
<!--</p>-->
</body>
</html>